.page {
  font-family: var(--main-font);
  background-image: var(--page-background);
  background-size: cover;
  background-attachment: fixed;
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-variation-settings: "wght" var(--card-text-weight);
}

.header {
  display: flex;
  justify-content: center;
}

.header__wrapper {
  margin: 100px 0;
  border: 2px solid var(--text-color);
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: var(--accent-font);
  text-align: center;
  inline-size: 100%;
  max-inline-size: 43.75rem;
  block-size: clamp(20.438rem, 19.705rem + 3.661vi, 23rem);
}

.header__title {
  padding-top: clamp(7.5rem, 7rem + 1.6vi, 8rem);
  font-size: clamp(3.063rem, 2.063rem + 3.2vi, 4.063rem);
  text-transform: uppercase;
}

.header__subtitle {
  padding-top: 20px;
  font-size: clamp(0.875rem, 0.313rem + 1.8vi, 1.438rem);
  text-transform: uppercase;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 53px;
  padding-bottom: 103px;
}

.cards__list {
  display: grid;
  gap: 51px;
}

.card {
  border: 2px solid var(--text-color);
}

.card__item {
  background-color: var(--bg-color);
  max-inline-size: 696px;
}

.card__image {
  display: block;
  width: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
  object-position: center;
}

.image__wrapper {
  position: relative;
}

.image-naivety {
  filter: blur(0.8px) saturate(1.3) hue-rotate(20deg) contrast(0.8)
    brightness(1.4);
}

.image-clean-slate {
  filter: blur(0.8px) hue-rotate(-40deg) saturate(0.8) brightness(1.1);
}

.image-anxiety {
  filter: invert(0.15) contrast(1.8) brightness(0.7) saturate(1.4);
}

.image-one-more {
  filter: contrast(1.6) saturate(0.9) brightness(1.05) hue-rotate(320deg);
}

.image-shock {
  filter: brightness(1.1) sepia(0.3) hue-rotate(350deg) contrast(1.05);
}

.image-even-more {
  filter: invert(0.2) contrast(100) brightness(0.8);
}

.image-frustration {
  filter: saturate(3) hue-rotate(40deg);
}

.image-moving-on {
  filter: saturate(1.4) brightness(1.1);
}

.card__text {
  font-size: 18px;
  line-height: 21px;
}

.card__text-wrapper {
  display: flex;
  flex-direction: column;
  gap: 27px;
  border-top: 2px solid var(--text-color);
  padding: 25px;
  margin-top: 0;
}

.label__text {
  position: absolute;
  top: 25px;
  right: 25px;
  font-family: var(--accent-font);
  font-size: 14px;
  color: var(--text-color);
  mix-blend-mode: hard-light;
  text-shadow: -1px 0 var(--bg-color), 0 1px var(--bg-color),
    1px 0 var(--bg-color), 0 -1px var(--bg-color);
  opacity: 0.5;
}

@supports (
  (-webkit-text-stroke: 1px var(--bg-color)) or
    (text-stroke: 1px var(--bg-color))
) {
  .label__text {
    text-shadow: none;
    -webkit-text-stroke: 1px var(--bg-color);
  }
}

.card__title {
  border-bottom: 2px solid var(--text-color);
  padding: 5px 10px;
  font-size: 18px;
  line-height: 21.78px;
  font-variation-settings: "wght" var(--card-title-weight);
}

.card__buttons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 5px;
  padding: 0 25px 25px 0;
}

.card__icon-button {
  border: 2px solid transparent;
  background: none;
  padding: 0;
  height: 36px;
  cursor: pointer;
}

.card__like-button {
  inline-size: 130px;
  padding: 8px 0;
}

.button {
  position: relative;
  border: 2px solid var(--text-color);
  background-color: var(--bg-color);
  font-family: var(--accent-font);
  overflow: hidden;
  cursor: pointer;
}

.button::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: var(--text-color);
  transform: translateX(-100%);
  transition: transform 0.5s ease-in-out;
}

.button:hover::before {
  transform: translateX(0);
}

.button__text {
  position: relative;
  color: var(--bg-color);
  mix-blend-mode: difference;
}

.button__popup-open {
  display: flex;
  align-items: center;
  gap: 7px;
  padding: 14px 20px;
  font-size: 14px;
  line-height: 12.6px;
}

.button__popup-close {
  padding: 10px 0;
  text-transform: uppercase;
  font-size: 14px;
}

.button__icon,
.icon-floppy {
  width: 28px;
  height: 28px;
  color: var(--bg-color);
  mix-blend-mode: difference;
  transition: color 0.5s ease-in-out;
}

.floppy {
  flex-shrink: 0;
}

.popup {
  display: none;
  flex-direction: column;
  gap: 30px;
  padding: 30px 27px;
  inline-size: clamp(21.313rem, 21.098rem + 1.071vi, 22.063rem);
}

.popup[open] {
  display: flex;
}

.popup::backdrop {
  background-color: var(--text-color);
  opacity: 0.75;
}

.popup__text-open {
  display: flex;
  align-items: center;
  gap: 20px;
}

.text__popup {
  font-family: var(--accent-font);
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
}

.like-icon .sparks {
  opacity: 0;
  fill: var(--heart-sparks);
}

.like-icon .core {
  fill: var(--bg-color);
  transition: fill 0.3s 0.03s;
}

.like-icon .main-body {
  fill: var(--bg-color);
  transition: fill 0.3s 0.05s;
}

.like-icon .contour {
  fill: var(--heart-contour);
  transition: fill 0.1s linear;
}

.like-icon .heart {
  transform-origin: center;
}

.like-icon:hover .core {
  transition-delay: 0;
  fill: var(--contour-color);
}

.like-icon:hover .main-body {
  transition-delay: 0.05s;
  fill: var(--contour-color);
}

.like-icon:active .core {
  transition-delay: 0;
  fill: var(--animation-fill-color);
}

.like-icon:active .main-body {
  transition-delay: 0.05s;
  fill: var(--animation-fill-color);
}

.like-icon.is-liked .core {
  transition-delay: 0;
  fill: var(--animation-fill-color);
}

.like-icon.is-liked .main-body {
  transition-delay: 0.05s;
  fill: var(--animation-fill-color);
}

.like-icon.is-liked .contour {
  transition: fill 0.3s 0.06s;
  fill: var(--animation-fill-color);
}

.like-icon.is-liked .heart {
  animation: scale-heart 0.3s 0.1s ease-in;
}

.like-icon.is-liked .sparks {
  animation: sparks-opacity 0.3s 0.3s ease-in;
}

.button:focus,
.card__icon-button:focus {
  outline: none;
}

.button:focus-visible {
  box-shadow: 2px 2px 0 var(--text-color);
  transition: box-shadow 0.3s ease;
}

.card__icon-button:focus-visible {
  border: 2px solid var(--text-color);
  transition: border 0.3s ease;
}

@media (max-width: 375px) {
  .header__wrapper,
  .card__item {
    inline-size: 100%;
  }

  .button__popup-open {
    flex-direction: column;
    gap: 10px;
  }

  .icon-floppy {
    width: 28px;
    height: 28px;
  }

  .label__text {
    top: 19px;
    right: 10px;
  }
}
